@import url("https://fonts.googleapis.com/css?family=Dosis|Play");
.scorebox-wrapper, .itembox-wrapper .item-div .item {
  border: 0.6vmin solid #880016;
  -webkit-border-radius: 50vmin;
          border-radius: 50vmin;
}

--top.scorebox-wrapper, .itembox-wrapper .item-div --top.item {
  border-top: 0.5vmin solid #880016;
  -webkit-border-radius: 10vmin;
          border-radius: 10vmin;
}

--right.scorebox-wrapper, .itembox-wrapper .item-div --right.item {
  border-right: 0.5vmin solid #880016;
  -webkit-border-radius: 10vmin;
          border-radius: 10vmin;
}

--bottom.scorebox-wrapper, .itembox-wrapper .item-div --bottom.item {
  border-bottom: 0.5vmin solid #880016;
  -webkit-border-radius: 10vmin;
          border-radius: 10vmin;
}

--left.scorebox-wrapper, .itembox-wrapper .item-div --left.item {
  border-left: 0.5vmin solid #880016;
  -webkit-border-radius: 10vmin;
          border-radius: 10vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud-row [class^='cloud_sm--'], .middlescreen-wrapper .unicornwrapper div[class^='unicorn_middle--'], .middlescreen-wrapper .unicornwrapper div[class^='unicorn_middle_cloud--'], .middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle--'], .middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle_stream--'], .middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle_cloud--'], .middlescreen-wrapper .candycanewrapper div[class^='candycane_middle--'], .middlescreen-wrapper .candycanewrapper div[class^='candycane_middle_cloud--'] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  font-family: "Play", "Dosis", sans-serif;
  font-weight: 600;
  height: 100%;
  color: #880016;
  background: url("../img/wp.jpg") no-repeat;
  background-size: cover;
}

[class*='col-'] {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.headline {
  font-family: "Play", "Dosis", sans-serif;
  font-size: 7vmin;
  position: absolute;
  top: 0vh;
  left: 0vw;
  padding: 0.3em;
}

.click_text {
  font-size: 5vmin;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: #fccaf9;
}

@media (max-aspect-ratio: 1 / 1) {
  .click_text {
    top: 40vw;
    left: 30vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .click_text {
    top: 39vh;
    left: 35vw;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes candycane-level10-animation {
  0% {
    background-image: url("../img/candycane10-1.png");
  }
  25% {
    background-image: url("../img/candycane10-2.png");
  }
  50% {
    background-image: url("../img/candycane10-3.png");
  }
  75% {
    background-image: url("../img/candycane10-4.png");
  }
}

@keyframes candycane-level10-animation {
  0% {
    background-image: url("../img/candycane10-1.png");
  }
  25% {
    background-image: url("../img/candycane10-2.png");
  }
  50% {
    background-image: url("../img/candycane10-3.png");
  }
  75% {
    background-image: url("../img/candycane10-4.png");
  }
}

@-webkit-keyframes cottoncandy-level10-animation {
  0% {
    background-image: url("../img/cottoncandy10-1.png");
  }
  10% {
    background-image: url("../img/cottoncandy10-1.png");
  }
  11% {
    background-image: url("../img/cottoncandy10-2.png");
  }
  13% {
    background-image: url("../img/cottoncandy10-3.png");
  }
  15% {
    background-image: url("../img/cottoncandy10-4.png");
  }
  17% {
    background-image: url("../img/cottoncandy10-5.png");
  }
  19% {
    background-image: url("../img/cottoncandy10-6.png");
  }
  21% {
    background-image: url("../img/cottoncandy10-7.png");
  }
  23% {
    background-image: url("../img/cottoncandy10-8.png");
  }
  25% {
    background-image: url("../img/cottoncandy10-9.png");
  }
}

@keyframes cottoncandy-level10-animation {
  0% {
    background-image: url("../img/cottoncandy10-1.png");
  }
  10% {
    background-image: url("../img/cottoncandy10-1.png");
  }
  11% {
    background-image: url("../img/cottoncandy10-2.png");
  }
  13% {
    background-image: url("../img/cottoncandy10-3.png");
  }
  15% {
    background-image: url("../img/cottoncandy10-4.png");
  }
  17% {
    background-image: url("../img/cottoncandy10-5.png");
  }
  19% {
    background-image: url("../img/cottoncandy10-6.png");
  }
  21% {
    background-image: url("../img/cottoncandy10-7.png");
  }
  23% {
    background-image: url("../img/cottoncandy10-8.png");
  }
  25% {
    background-image: url("../img/cottoncandy10-9.png");
  }
}

.border-test {
  border: 1px dashed grey;
}

.scorebox-wrapper {
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.scorebox-wrapper .scorebox-icon {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  padding: 5px;
}

.scorebox-wrapper .scorebox-points {
  font-size: 1rem;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}

.itembox-wrapper {
  position: absolute;
  top: 4vmin;
  right: 15vmin;
}

@media (max-aspect-ratio: 4 / 3) {
  .itembox-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-aspect-ratio: 5 / 4) {
  .itembox-wrapper {
    right: 5vmin;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .itembox-wrapper {
    left: 1vmin;
    margin-top: 10vmin;
    margin-right: 15vmin;
  }
}

@media (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .itembox-wrapper {
    margin-right: 50px;
  }
}

.itembox-wrapper .item-div {
  width: 10vmin;
  margin-top: 4vmin;
  margin-bottom: 8vmin;
  margin-left: 10vmin;
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 400px) {
  .itembox-wrapper .item-div {
    margin-right: 2vmax;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .itembox-wrapper .item-div {
    margin-right: 10vmin;
  }
}

.itembox-wrapper .item-div .item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12vmin 12vmin;
  width: 12vmin;
  height: 12vmin;
  margin-top: -6vmin;
  margin-left: -6vmin;
  min-width: 20px;
  min-height: 20px;
  margin-right: 2vmin;
  padding: 1vmin;
  opacity: 0.3;
}

.itembox-wrapper .item-div .item-available {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 1;
}

.itembox-wrapper .item-div .unicorn {
  background-image: url("../img/unicorn_right.png");
}

.itembox-wrapper .item-div .cottoncandy {
  background-image: url("../img/cottoncandy.png");
}

.itembox-wrapper .item-div .candycane {
  background-image: url("../img/candycane.png");
}

.itembox-wrapper .item-div .item-price-row {
  margin-top: 1vmin;
  margin-left: -7vmin;
}

.itembox-wrapper .item-div .item-price-row .buy-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  display: inline-block;
  margin: 0;
  margin-right: 0.5vmin;
  background-image: url("../img/coin.png");
}

@media (max-width: 550px) {
  .itembox-wrapper .item-div .item-price-row .buy-icon {
    width: 3vmin;
    height: 3vmin;
    background-size: 3vmin;
  }
}

@media (max-height: 550px) {
  .itembox-wrapper .item-div .item-price-row .buy-icon {
    width: 3vmin;
    height: 3vmin;
    background-size: 3vmin;
  }
}

.itembox-wrapper .item-div .item-price-row .buy_text {
  font-size: 2vmin;
  position: absolute;
  display: inline-block;
  width: 90px;
  letter-spacing: -2px;
  pointer-events: none;
}

@media (max-width: 700px) {
  .itembox-wrapper .item-div .item-price-row .buy_text {
    font-size: 14px;
  }
}

@media (max-height: 700px) {
  .itembox-wrapper .item-div .item-price-row .buy_text {
    font-size: 14px;
  }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 400px) {
  .itembox-wrapper .item-div .item-price-row .buy_text {
    margin-right: 2vmax;
  }
}

@media (max-width: 350px) {
  .itembox-wrapper .item-div .item-price-row .buy_text {
    font-size: 4vmin;
  }
}

@media (max-height: 350px) {
  .itembox-wrapper .item-div .item-price-row .buy_text {
    font-size: 4vmin;
  }
}

.middlescreen-wrapper {
  position: absolute;
  top: 22vh;
  left: 7vw;
  width: 80vw;
  height: 65vh;
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper {
    margin-top: 5vw;
  }
}

.middlescreen-wrapper .cloudwrapper .cloud-row [class^='cloud_sm--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7vmin 6.3vmin;
  width: 7vmin;
  height: 6.3vmin;
  margin-top: -3.15vmin;
  margin-left: -3.5vmin;
  top: 22vh;
  left: 40vw;
  background-image: url("../img/cloud_sm.gif");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cloudwrapper .cloud-row [class^='cloud_sm--'] {
    top: 22vw;
  }
}

.middlescreen-wrapper .cloudwrapper .cloud-row .cloud_sm--1 {
  margin-top: 3vmin;
  margin-left: -15vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud-row .cloud_sm--2 {
  margin-left: -9vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud-row .cloud_sm--3 {
  margin-left: -3vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud-row .cloud_sm--4 {
  margin-top: -2vmin;
  margin-left: 3vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud-row .cloud_sm--5 {
  margin-top: 2vmin;
  margin-left: 9vmin;
}

.middlescreen-wrapper .cloudwrapper .cloud {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26.75vmin 24.25vmin;
  width: 26.75vmin;
  height: 24.25vmin;
  margin-top: -12.125vmin;
  margin-left: -13.375vmin;
  position: absolute;
  top: 30vh;
  left: 40vw;
  background-image: url("../img/cloud.gif");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cloudwrapper .cloud {
    top: 30vw;
  }
}

.middlescreen-wrapper .unicornwrapper div[class^='unicorn_middle--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12vmin 12vmin;
  width: 12vmin;
  height: 12vmin;
  margin-top: -6vmin;
  margin-left: -6vmin;
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
  background-image: url("../img/unicorn_right.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    top: 37vw;
    left: 59vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    top: 37vh;
    left: 57vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 55vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 53vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 52vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 50vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 49vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 47vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--1 {
    left: 46vw;
  }
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
  background-image: url("../img/unicorn_right.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    top: 28vw;
    left: 59vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    top: 28vh;
    left: 57vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 55vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 53vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 52vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 50vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 49vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 47vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--2 {
    left: 46vw;
  }
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
  background-image: url("../img/unicorn_left.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    top: 37vw;
    left: 21vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    top: 37vh;
    left: 23vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 25vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 26vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 28vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 29vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 31vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 33vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--3 {
    left: 34vw;
  }
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
  background-image: url("../img/unicorn_left.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    top: 28vw;
    left: 21vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    top: 28vh;
    left: 23vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 25vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 26vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 28vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 29vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 31vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 33vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle--4 {
    left: 34vw;
  }
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level1 {
  background-image: url("../img/unicorn_right1.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level2 {
  background-image: url("../img/unicorn_right2.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level3 {
  background-image: url("../img/unicorn_right3.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level4 {
  background-image: url("../img/unicorn_right4.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level5 {
  background-image: url("../img/unicorn_right5.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level6 {
  background-image: url("../img/unicorn_right6.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level7 {
  background-image: url("../img/unicorn_right7.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level8 {
  background-image: url("../img/unicorn_right8.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level9 {
  background-image: url("../img/unicorn_right9.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_right_level10 {
  background-image: url("../img/unicorn_right10.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level1 {
  background-image: url("../img/unicorn_left1.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level2 {
  background-image: url("../img/unicorn_left2.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level3 {
  background-image: url("../img/unicorn_left3.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level4 {
  background-image: url("../img/unicorn_left4.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level5 {
  background-image: url("../img/unicorn_left5.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level6 {
  background-image: url("../img/unicorn_left6.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level7 {
  background-image: url("../img/unicorn_left7.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level8 {
  background-image: url("../img/unicorn_left8.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level9 {
  background-image: url("../img/unicorn_left9.png");
}

.middlescreen-wrapper .unicornwrapper .unicorn_middle_left_level10 {
  background-image: url("../img/unicorn_left10.png");
}

.middlescreen-wrapper .unicornwrapper div[class^='unicorn_middle_cloud--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7vmin 6.3vmin;
  width: 7vmin;
  height: 6.3vmin;
  margin-top: -3.15vmin;
  margin-left: -3.5vmin;
  background-image: url("../img/cloud_sm.gif");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--1 {
    top: 37vw;
    left: 50vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--1 {
    top: 37vh;
    left: 45vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--1 {
    left: 44vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--2 {
    top: 28vw;
    left: 50vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--2 {
    top: 28vh;
    left: 45vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--2 {
    left: 44vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--3 {
    top: 37vw;
    left: 30vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--3 {
    top: 37vh;
    left: 35vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--3 {
    left: 36vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--4 {
    top: 28vw;
    left: 30vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--4 {
    top: 28vh;
    left: 35vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .unicornwrapper .unicorn_middle_cloud--4 {
    left: 36vw;
  }
}

.middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12vmin 12vmin;
  width: 12vmin;
  height: 12vmin;
  margin-top: -6vmin;
  margin-left: -6vmin;
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--1 {
  background-image: url("../img/cottoncandy.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--1 {
    top: 10vw;
    left: 29vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--1 {
    top: 10vh;
    left: 35vw;
  }
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--2 {
  background-image: url("../img/cottoncandy.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--2 {
    top: 10vw;
    left: 50vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle--2 {
    top: 10vh;
    left: 45vw;
  }
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level1 {
  background-image: url("../img/cottoncandy1.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level2 {
  background-image: url("../img/cottoncandy2.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level3 {
  background-image: url("../img/cottoncandy3.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level4 {
  background-image: url("../img/cottoncandy4.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level5 {
  background-image: url("../img/cottoncandy5.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level6 {
  background-image: url("../img/cottoncandy6.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level7 {
  background-image: url("../img/cottoncandy7.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level8 {
  background-image: url("../img/cottoncandy8.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level9 {
  background-image: url("../img/cottoncandy9.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level10 {
  background-image: url("../img/cottoncandy10.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_level10 {
  -webkit-animation-name: cottoncandy-level10-animation;
          animation-name: cottoncandy-level10-animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle_stream--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4.8vmin 4.8vmin;
  width: 4.8vmin;
  height: 4.8vmin;
  margin-top: -2.4vmin;
  margin-left: -2.4vmin;
  background-image: url("../img/cottoncandy_stream.png");
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--1 {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--1 {
    top: 29vw;
    left: 34vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--1 {
    top: 29vh;
    left: 37.5vw;
  }
}

.middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--2 {
    top: 29vw;
    left: 46vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_stream--2 {
    top: 29vh;
    left: 43vw;
  }
}

.middlescreen-wrapper .cottoncandywrapper div[class^='cottoncandy_middle_cloud--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7vmin 6.3vmin;
  width: 7vmin;
  height: 6.3vmin;
  margin-top: -3.15vmin;
  margin-left: -3.5vmin;
  background-image: url("../img/cloud_sm.gif");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_cloud--1 {
    top: 3vw;
    left: 29vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_cloud--1 {
    top: 3vh;
    left: 35vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_cloud--2 {
    top: 3vw;
    left: 50vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .cottoncandywrapper .cottoncandy_middle_cloud--2 {
    top: 3vh;
    left: 45vw;
  }
}

.middlescreen-wrapper .candycanewrapper div[class^='candycane_middle--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12vmin 12vmin;
  width: 12vmin;
  height: 12vmin;
  margin-top: -6vmin;
  margin-left: -6vmin;
}

.middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
  background-image: url("../img/candycane.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    top: 55vw;
    left: 15vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    top: 55vh;
    left: 17vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 20vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 23vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 25vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 26vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 28vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 30vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--1 {
    left: 32vw;
  }
}

.middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
  background-image: url("../img/candycane.png");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    top: 55vw;
    left: 65vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    top: 55vh;
    left: 63vw;
  }
}

@media (min-aspect-ratio: 6 / 5) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 60vw;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 57vw;
  }
}

@media (min-aspect-ratio: 10 / 7) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 55vw;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 53vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 52vw;
  }
}

@media (min-aspect-ratio: 5 / 2) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 50vw;
  }
}

@media (min-aspect-ratio: 20 / 7) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle--2 {
    left: 48vw;
  }
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level1 {
  background-image: url("../img/candycane1.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level2 {
  background-image: url("../img/candycane2.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level3 {
  background-image: url("../img/candycane3.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level4 {
  background-image: url("../img/candycane4.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level5 {
  background-image: url("../img/candycane5.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level6 {
  background-image: url("../img/candycane6.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level7 {
  background-image: url("../img/candycane7.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level8 {
  background-image: url("../img/candycane8.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level9 {
  background-image: url("../img/candycane9.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level10 {
  background-image: url("../img/candycane10.png");
}

.middlescreen-wrapper .candycanewrapper .candycane_middle_level10 {
  -webkit-animation-name: candycane-level10-animation;
          animation-name: candycane-level10-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.middlescreen-wrapper .candycanewrapper div[class^='candycane_middle_cloud--'] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7vmin 6.3vmin;
  width: 7vmin;
  height: 6.3vmin;
  margin-top: -3.15vmin;
  margin-left: -3.5vmin;
  background-image: url("../img/cloud_sm.gif");
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--1 {
    top: 33vw;
    left: 35vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--1 {
    top: 32vh;
    left: 36vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--2 {
    top: 33vw;
    left: 36vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--2 {
    top: 32vh;
    left: 37vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--3 {
    top: 33vw;
    left: 37vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--3 {
    top: 32vh;
    left: 38vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--4 {
    top: 33vw;
    left: 45vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--4 {
    top: 32vh;
    left: 42vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--5 {
    top: 33vw;
    left: 46vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--5 {
    top: 32vh;
    left: 43vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--6 {
    top: 33vw;
    left: 47vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .middlescreen-wrapper .candycanewrapper .candycane_middle_cloud--6 {
    top: 32vh;
    left: 44vw;
  }
}
