@import 'partials/config.scss';

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    font-family: $font-family-text;
    font-weight: 600;
    height: 100%;
    color: $color-darkred;
    background: url('../img/wp.jpg') no-repeat;
    background-size: cover;
}

[class*='col-'] {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.headline {
    font-family: $font-family-text;
    font-size: 7vmin;
    position: absolute;
    top: 0vh;
    left: 0vw;
    padding: 0.3em;
}

.click_text {
    font-size: 5vmin;
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: $color-pink;
    @media (max-aspect-ratio: 1/1) {
        top: 40vw;
        left: 30vw;
    }
    @media (min-aspect-ratio: 1/1) {
        top: 39vh;
        left: 35vw;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    80% {
        transform: rotate(0deg);
    }
}

@keyframes candycane-level10-animation {
    0% {
        background-image: url('../img/candycane10-1.png')
    }
    25% {
        background-image: url('../img/candycane10-2.png')
    }
    50% {
        background-image: url('../img/candycane10-3.png')
    }
    75% {
        background-image: url('../img/candycane10-4.png')
    }
}

@keyframes cottoncandy-level10-animation {
    0% {
        background-image: url('../img/cottoncandy10-1.png')
    }
    10% {
        background-image: url('../img/cottoncandy10-1.png')
    }
    11% {
        background-image: url('../img/cottoncandy10-2.png')
    }
    13% {
        background-image: url('../img/cottoncandy10-3.png')
    }
    15% {
        background-image: url('../img/cottoncandy10-4.png')
    }
    17% {
        background-image: url('../img/cottoncandy10-5.png')
    }
    19% {
        background-image: url('../img/cottoncandy10-6.png')
    }
    21% {
        background-image: url('../img/cottoncandy10-7.png')
    }
    23% {
        background-image: url('../img/cottoncandy10-8.png')
    }
    25% {
        background-image: url('../img/cottoncandy10-9.png')
    }
}

.border-test {
    border: 1px dashed grey
}

.scorebox-wrapper {
    @extend %border-red;

    position: absolute;
    bottom: 2%;
    left: 1%;
    .scorebox-icon {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        padding: 5px;
    }
    .scorebox-points {
        font-size: 1rem;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
    }
}

.itembox-wrapper {
    position: absolute;
    top: 4vmin;
    right: 15vmin;
    @media (max-aspect-ratio: 4/3) {
        display: flex;
    }
    @media (max-aspect-ratio: 5/4) {
        right: 5vmin;
    }
    @media (max-aspect-ratio: 1/1) {
        left: 1vmin;
        margin-top: 10vmin;
        margin-right: 15vmin;
    }
    @media (min-aspect-ratio: 1/1) and (min-width: 400px) {
        margin-right: 50px;
    }
    .item-div {
        width: 10vmin;
        margin-top: 4vmin;
        margin-bottom: 8vmin;
        margin-left: 10vmin;
        @media (max-aspect-ratio: 1/1) and (max-width: 400px) {
            margin-right: 2vmax;
        }
        @media (max-aspect-ratio: 1/1) {
            margin-right: 10vmin;
        }
        .item {
            @extend %border-red;
            @include div-background($item-size);

            min-width: 20px;
            min-height: 20px;
            margin-right: 2vmin;
            padding: 1vmin;
            opacity: 0.3;
        }
        .item-available {
            animation-name: shake;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            opacity: 1;
        }
        .unicorn {
            background-image: url('../img/unicorn_right.png');
        }
        .cottoncandy {
            background-image: url('../img/cottoncandy.png');
        }
        .candycane {
            background-image: url('../img/candycane.png');
        }
        .item-price-row {
            margin-top: 1vmin;
            margin-left: -7vmin;
            .buy-icon {
                @include div-background(20px);
                @media (max-width: 550px) {
                    width: 3vmin;
                    height: 3vmin;
                    background-size: 3vmin;
                }
                @media (max-height: 550px) {
                    width: 3vmin;
                    height: 3vmin;
                    background-size: 3vmin;
                }

                display: inline-block;
                margin: 0;
                margin-right: 0.5vmin;
                background-image: url('../img/coin.png');
            }
            .buy_text {
                font-size: 2vmin;
                position: absolute;
                display: inline-block;
                width: 90px;
                letter-spacing: -2px;
                pointer-events: none;
                @media (max-width: 700px) {
                    font-size: 14px;
                }
                @media (max-height: 700px) {
                    font-size: 14px;
                }
                @media (max-aspect-ratio: 1/1) and (max-width: 400px) {
                    margin-right: 2vmax;
                }
                @media (max-width: 350px) {
                    font-size: 4vmin;
                }
                @media (max-height: 350px) {
                    font-size: 4vmin;
                }
            }
        }
    }
}

.middlescreen-wrapper {
    position: absolute;
    top: 22vh;
    left: 7vw;
    width: 80vw;
    height: 65vh;
    @media (max-aspect-ratio: 1/1) {
        margin-top: 5vw;
    }
    .cloudwrapper {
        .cloud-row {
            [class^='cloud_sm--'] {
                @extend %hidden-middle-object;
                @include div-background($cloud-sm-width, $cloud-sm-height);

                top: 22vh;
                left: 40vw;
                background-image: url('../img/cloud_sm.gif');
                @media (max-aspect-ratio: 1/1) {
                    top: 22vw;
                }
            }
            .cloud_sm {
                &--1 {
                    margin-top: 3vmin;
                    margin-left: -15vmin;
                }
                &--2 {
                    margin-left: -9vmin;
                }
                &--3 {
                    margin-left: -3vmin;
                }
                &--4 {
                    margin-top: -2vmin;
                    margin-left: 3vmin;
                }
                &--5 {
                    margin-top: 2vmin;
                    margin-left: 9vmin;
                }
            }
        }
        .cloud {
            @include div-background($cloud-width, $cloud-height);

            position: absolute;
            top: 30vh;
            left: 40vw;
            background-image: url('../img/cloud.gif');
            @media (max-aspect-ratio: 1/1) {
                top: 30vw;
            }
        }
    }
    .unicornwrapper {
        //  Unicorn Middle Management 
        div[class^='unicorn_middle--'] {
            @extend %hidden-middle-object;
            @include div-background($item-size, $item-size);
        }
        .unicorn_middle {
            &--1 {
                background-image: url('../img/unicorn_right.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 37vw;
                    left: 59vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 37vh;
                    left: 57vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 55vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 53vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 52vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 50vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 49vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 47vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 46vw;
                }
            }
            &--2 {
                background-image: url('../img/unicorn_right.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 28vw;
                    left: 59vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 28vh;
                    left: 57vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 55vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 53vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 52vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 50vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 49vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 47vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 46vw;
                }
            }
            &--3 {
                background-image: url('../img/unicorn_left.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 37vw;
                    left: 21vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 37vh;
                    left: 23vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 25vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 26vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 28vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 29vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 31vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 33vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 34vw;
                }
            }
            &--4 {
                background-image: url('../img/unicorn_left.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 28vw;
                    left: 21vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 28vh;
                    left: 23vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 25vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 26vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 28vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 29vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 31vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 33vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 34vw;
                }
            }
        }
        @for $i from 1 through 10 {
            .unicorn_middle_right_level#{$i} {
                background-image: url('../img/unicorn_right#{$i}.png');
            }
        }
        @for $i from 1 through 10 {
            .unicorn_middle_left_level#{$i} {
                background-image: url('../img/unicorn_left#{$i}.png');
            }
        }
        //  Unicorn Middle Clouds Management
        div[class^='unicorn_middle_cloud--'] {
            @extend %hidden-middle-object;
            @include div-background($cloud-sm-width, $cloud-sm-height);

            background-image: url('../img/cloud_sm.gif');
        }
        .unicorn_middle_cloud {
            &--1 {
                @media (max-aspect-ratio: 1/1) {
                    top: 37vw;
                    left: 50vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 37vh;
                    left: 45vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 44vw;
                }
            }
            &--2 {
                @media (max-aspect-ratio: 1/1) {
                    top: 28vw;
                    left: 50vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 28vh;
                    left: 45vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 44vw;
                }
            }
            &--3 {
                @media (max-aspect-ratio: 1/1) {
                    top: 37vw;
                    left: 30vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 37vh;
                    left: 35vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 36vw;
                }
            }
            &--4 {
                @media (max-aspect-ratio: 1/1) {
                    top: 28vw;
                    left: 30vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 28vh;
                    left: 35vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 36vw;
                }
            }
        }
    }
    .cottoncandywrapper {
        //  Cottoncandy Middle Management
        div[class^='cottoncandy_middle--'] {
            @extend %hidden-middle-object;
            @include div-background($item-size);
        }
        .cottoncandy_middle {
            &--1 {
                background-image: url('../img/cottoncandy.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 10vw;
                    left: 29vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 10vh;
                    left: 35vw;
                }
            }
            &--2 {
                background-image: url('../img/cottoncandy.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 10vw;
                    left: 50vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 10vh;
                    left: 45vw;
                }
            }
        }
        @for $i from 1 through 10 {
            .cottoncandy_middle_level#{$i} {
                background-image: url('../img/cottoncandy#{$i}.png');
            }
        }
        .cottoncandy_middle_level10 {
            animation-name: cottoncandy-level10-animation;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        //  Cottoncandy Middle Stream Management
        div[class^='cottoncandy_middle_stream--'] {
            @extend %hidden-middle-object;
            @include div-background($item-stream-size);

            background-image: url('../img/cottoncandy_stream.png');
        }
        .cottoncandy_middle_stream--1 {
            transform: rotate(315deg);
            @media (max-aspect-ratio: 1/1) {
                top: 29vw;
                left: 34vw;
            }
            @media (min-aspect-ratio: 1/1) {
                top: 29vh;
                left: 37.5vw;
            }
        }
        .cottoncandy_middle_stream--2 {
            transform: rotate(45deg);
            @media (max-aspect-ratio: 1/1) {
                top: 29vw;
                left: 46vw;
            }
            @media (min-aspect-ratio: 1/1) {
                top: 29vh;
                left: 43vw;
            }
        }
        //  Cottoncandy Middle Cloud Management
        div[class^='cottoncandy_middle_cloud--'] {
            @extend %hidden-middle-object;
            @include div-background($cloud-sm-width, $cloud-sm-height);

            background-image: url('../img/cloud_sm.gif');
        }
        .cottoncandy_middle_cloud--1 {
            @media (max-aspect-ratio: 1/1) {
                top: 3vw;
                left: 29vw;
            }
            @media (min-aspect-ratio: 1/1) {
                top: 3vh;
                left: 35vw;
            }
        }
        .cottoncandy_middle_cloud--2 {
            @media (max-aspect-ratio: 1/1) {
                top: 3vw;
                left: 50vw;
            }
            @media (min-aspect-ratio: 1/1) {
                top: 3vh;
                left: 45vw;
            }
        }
    }
    .candycanewrapper {
        //  Candycane Middle Management
        div[class^='candycane_middle--'] {
            @extend %hidden-middle-object;
            @include div-background($item-size);
        }
        .candycane_middle {
            &--1 {
                background-image: url('../img/candycane.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 55vw;
                    left: 15vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 55vh;
                    left: 17vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 20vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 23vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 25vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 26vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 28vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 30vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 32vw;
                }
            }
            &--2 {
                background-image: url('../img/candycane.png');
                @media (max-aspect-ratio: 1/1) {
                    top: 55vw;
                    left: 65vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 55vh;
                    left: 63vw;
                }
                @media (min-aspect-ratio: 6/5) {
                    left: 60vw;
                }
                @media (min-aspect-ratio: 4/3) {
                    left: 57vw;
                }
                @media (min-aspect-ratio: 10/7) {
                    left: 55vw;
                }
                @media (min-aspect-ratio: 16/9) {
                    left: 53vw;
                }
                @media (min-aspect-ratio: 2/1) {
                    left: 52vw;
                }
                @media (min-aspect-ratio: 5/2) {
                    left: 50vw;
                }
                @media (min-aspect-ratio: 20/7) {
                    left: 48vw;
                }
            }
        }
        @for $i from 1 through 10 {
            .candycane_middle_level#{$i} {
                background-image: url('../img/candycane#{$i}.png');
            }
        }
        .candycane_middle_level10 {
            animation-name: candycane-level10-animation;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }
        //  Candycane Middle Cloud Management
        div[class^='candycane_middle_cloud--'] {
            @extend %hidden-middle-object;
            @include div-background($cloud-sm-width, $cloud-sm-height);

            background-image: url('../img/cloud_sm.gif');
        }
        .candycane_middle_cloud {
            &--1 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 35vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 36vw;
                }
            }
            &--2 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 36vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 37vw;
                }
            }
            &--3 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 37vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 38vw;
                }
            }
            &--4 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 45vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 42vw;
                }
            }
            &--5 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 46vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 43vw;
                }
            }
            &--6 {
                @media (max-aspect-ratio: 1/1) {
                    top: 33vw;
                    left: 47vw;
                }
                @media (min-aspect-ratio: 1/1) {
                    top: 32vh;
                    left: 44vw;
                }
            }
        }
    }
}