

// Typography
@import url('https://fonts.googleapis.com/css?family=Dosis|Play');





//	Color
$color-darkred: #880016;
$color-pink: #fccaf9;


//	Font
$font-family-text: "Play", "Dosis", sans-serif;


// Media Queries
$mobile-width: "(max-width:767px)";
$tablet-width: "(min-width:768px) and (max-width:991px)";
$desktop-width: "(min-width:992px) and (max-width:1199px)";
$widescreen-width: "(min-width:1200px)";

//	Mixins
@mixin div-background($width, $height: $width) {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: $width $height;
    width: $width;
    height: $height;
    margin-top: -($height/2);
    margin-left: -($width/2);
}

//	Borders

%border-red {
    border: 0.6vmin solid $color-darkred;
    border-radius: 50vmin;
    &--top {
        border-top: 0.5vmin solid $color-darkred;
        border-radius: 10vmin;
    }
    &--right {
        border-right: 0.5vmin solid $color-darkred;
        border-radius: 10vmin;
    }
    &--bottom {
        border-bottom: 0.5vmin solid $color-darkred;
        border-radius: 10vmin;
    }
    &--left {
        border-left: 0.5vmin solid $color-darkred;
        border-radius: 10vmin;
    }
}

%hidden-middle-object {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

//	Size
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}




//	Variables
$item-size: 12vmin;
$item-stream-size: 4.8vmin;
$cloud-width: 26.75vmin;
$cloud-height: 24.25vmin;
$cloud-sm-width: 7vmin;
$cloud-sm-height: 6.3vmin;





$url-bg-cloud: '../img/cloud.gif';